@charset "utf-8";

/*
 * chrome://extensions/
 */

body, .main-page-header, .SharedNavBar, .tweet-container, .tweet-text, .tweet-activity-data, h1, h2, h3, h3 strong {
  /*background: #888 !important;*/
  background: #15202b !important;
  color: #efefef !important;
}

body a, .main-page-header a, .SharedNavBar a, .tweet-container a, .tweet-activity-data a{
  color: #efefef !important;
}

/*
.tweet-container {
  background: #888 !important;
  color: #111 !important;
}
*/

